* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#219ebc ;
}

.textarea {
    width: 85%;
    font-size: 22px;
    padding: 20px;
    border-radius: 0px 20px;
    outline: 
}